@import "tailwindcss";

@theme {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-brand-blue: #184b87;
  --color-brand-red: #e53935;
  --color-brand-bg: #f8fafc;
  --color-brand-text: #1f2937;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
